{% extends "clg_admin/admin_index.html" %}
{% load static %}
{% block title %}
Manage Subjects
{% endblock %}
{% block wrapper %}
{% if messages %}
        <ul>
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}

        </ul>
{% endif %}
<h1>Add Subjects</h1>
<form method="post">
    {% csrf_token %}
    <input type="text" name="sub_name" id="" placeholder="Subject Name" required>

    <label for="regulation">Regulation:</label>
        <select name="regulation" id="regulation" required>
            <option value="" disabled selected>Select Regulation</option>
            {% for regulation in regulations %}
                <option value="{{ regulation.id }}">{{ regulation.name }}</option>
            {% endfor %}
        </select>
    <button type="submit">Create</button>

</form>
<br>
<table class="table">
    <thead>
    <tr>
        <th>S.no</th>
        <th>Name</th>
        <th>Regulation</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for objects in subjects %}
    <tr>
        <td>{{objects.id}}</td>
        <td>{{objects.name}}</td>
        <td>{{objects.regulation}}</td>
                <td><button><i class="fa-solid fa-pen"></i></button> &nbsp; <button><i class="fa-solid fa-trash"></i></button></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}