{% extends "clg_admin/admin_index.html" %}
{% load static %}
{% block title %}
Add Faculty
{% endblock %}
{% block wrapper %}
{% if messages %}
  <ul>
    {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<form method="post">
    {% csrf_token %}
    <input type="email" name="email" placeholder="Email" class="input-group"/>
    <input type="text" name="user_name" placeholder="UserName" class="input-group"/>
    <input type="number" name="mobile" placeholder="Mobile Number" class="input-group"/>
    <input type="date" name="date" placeholder="Joining Date " class="input-group"/>
    <input type="text" name="major_study" placeholder="Major Group Studied" class="input-group"/>
<!--    <input type="password" name="password" placeholder="Enter password"/>-->
<!--    <input type="password" name="confirm_password" placeholder="Confirm password"/>-->
    <input type="submit" value="create"/>
</form>
<a href="/logout">Logout</a>
{% endblock %}