{% extends "clg_admin/admin_index.html" %}
{% load static %}
{% block title %}
Add Regulations
{% endblock %}
{% block wrapper %}
{% if messages %}
        <ul>
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            
        </ul>
{% endif %}
<h1>Add Regulations Page</h1>
<form method="post">
    {% csrf_token %}
    <input type="text" name="regulation_name" id="" placeholder="Regulation Name">
    <button type="submit">Add Regulations</button>
</form>
{% endblock %}