{% extends "clg_admin/admin_index.html" %}
{% load static %}
{% block title %}
Add Department
{% endblock %}
{% block wrapper %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h1>Add Department Page</h1>
<form method="post">
    {% csrf_token %}
    <input type="text" name="dpt_name" id="" placeholder="Department Name">
    <textarea name="dpt_desc" placeholder="Department Description"></textarea>
    <button type="submit">Add Department</button>
</form>
<table class="table">
    <thead>
    <tr>
        <th>S.no</th>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for objects in departments %}
    <tr>
        <td>{{objects.id}}</td>
        <td>{{objects.name}}</td>
        <td>{{objects.description}}</td>
                <td><button><i class="fa-solid fa-pen"></i></button> &nbsp; <button><i class="fa-solid fa-trash"></i></button></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}